{% extends 'base.html.twig' %}

{% block title %}Application{% endblock %}

{% block body %}
    <h1>Application</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ application.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ application.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('application_index') }}">back to list</a>

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('application_edit', {'id': application.id}) }}">edit</a>

    {{ include('application/_delete_form.html.twig') }}

<p>


{% endif %}
{% endblock %}
